/*HEADER: PARTE DE ARRIBA; */

*{
	border-style: dotted;
	border-width: 1px;
}

body {
	color: white;
	background: green;
	height: 100%
}

#logo {
	float: left;
	display: inline-block;
}

.logout {
	display: inline-block;
	float: right;
	text-align: right;
	margin: 25px;
}



header{
	color: white;
	background: black;
	overflow: auto;
}

.nologin {
	float: left;
	text-align: center;
}

.content{
	overflow: auto;
	margin-top: 10px;
}

/*Division de Tablas */

div.tabla {	
	display: table;
	color: black;
	width: 100%;
	background: #eeeeee;
	height: 100%
	border: 2px solid black;
}

div.filaHeader {
	display: table-row;
	clear: both;
	background-color: black;
	margin-bottom: 10px;
	margin-top: 10px;
	height: auto;

}

div.fila {
	display: table-row;
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
}

.elementoHeader4 {
	float: left;
	display: table-column;
	background: black;
	color: white;
	width: 25%;
	outline: 2px solid black;
	text-align: center;

}
div.elemento4 {
	float: left;
	display: table-column;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	width: 25%;		/*Importante a la hora de definir cuantos elementos son en la tabla*/

}

div.elementoHeader6 {
	float: left;
	height: auto;
	display: table-column;
	background: black;
	color: white;
	width: 16.6%;
	outline: 2px solid black;
	text-align: center;

}
div.elemento6 {
	float: left;
	display: table-column;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	width: 16.6%;		/*Importante a la hora de definir cuantos elementos son en la tabla*/

}

div.elemento5 {
	float: left;
	display: table-column;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	width: 20%;		/*Importante a la hora de definir cuantos elementos son en la tabla*/

}

div.elementoHeader5 {
	float: left;
	height: auto;
	display: table-column;
	background: black;
	color: white;
	width: 20%;
	outline: 2px solid black;
	text-align: center;

}

div.elemento7 {
	float: left;
	display: table-column;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	width: 14.28%;		/*Importante a la hora de definir cuantos elementos son en la tabla*/

}

div.elementoHeader7 {
	float: left;
	height: auto;
	display: table-column;
	background: black;
	color: white;
	width: 14.28%;
	outline: 2px solid black;
	text-align: center;

}

div.elementbutton {
	display: table-column-group;
	width: 50%;
	text-align: center;
	float: left;

}

.buscador {
	color: black;
	background-size: 15px 15px;
	background-image: url("img/lupa.png");
    background-position: right;
    background-repeat: no-repeat;

}
#titulo	{
	color: white;
	background: black;
}


