/*HEADER: PARTE DE ARRIBA; */

body {
	color: white;
	background: green;
}

#logo {
	position: absolute;
	width: 80%;
	height: 80%;
	top: 0px;
	left: 0px;
}

#upright {
	position: absolute;
	text-align: right;
	width: 80%;
	height: 80%;
	top: 0px;
	right: 0px;
	margin-top: 25px;
	margin-right: 100px;
}


#darkFundamenta {
	color: white;
	background: black;
}



header.nologin {
	width: all;
	height: 82px;
	color: white;
	background: black;
	text-align: center;}


/*Division de Tablas */

div.tabla {	
	display: table;
	color: black;
	width: 100%;
	background: #eeeeee;
	margin-left: 40px;
	margin-right: 60px;
	border: 2px solid black;
}

div.filaHeader {
	display: table-row;
	clear: both;
	margin-bottom: 10px;
	margin-top: 10px;

}

div.fila {
	display: table-row;
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.elementoHeader4 {
	float: left;
	display: table-column;
	background: black;
	color: white;
	width: 25%;
	outline: 2px solid black;
	text-align: center;

}
div.elemento4 {
	float: left;
	display: table-column;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	width: 25%;		/*Importante a la hora de definir cuantos elementos son en la tabla*/

}

div.elementoHeader6 {
	float: left;
	display: table-column;
	background: black;
	color: white;
	width: 16.6%;
	outline: 2px solid black;
	text-align: center;

}
div.elemento6 {
	float: left;
	display: table-column;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	width: 16.6%;		/*Importante a la hora de definir cuantos elementos son en la tabla*/

}
#titulo	{
	color: white;
	background: black;
}


